.info {
    width: 80%; 
    align-self: center; 
    margin: 20px; 
    padding: 20px;
} 

.info h1, h3 { 
    color: #1B4332;
    font-weight:bold; 
} 

.info h1 {
    margin: 30px; 
    text-align: center;
} 

.info h3 {
    margin: 10px;
} 

