.nutrition body {
    margin: 0;
    padding: 0;
}
  
.nutrition {
    text-align: center;
    margin: 50px; 
    padding: 0; 
}

.nutrition h1 {
    margin-bottom: 20px;
}
  
.nutrition input[type="text"] {
    width: 400px;  
    height: 44px; 
    margin: 2px;
    box-sizing: border-box; 
    background-color: rgba(240, 250, 242, 0.811); 
    border: 1px solid #b8d1bcee; 
    border-radius: 7px;
    font-size: 17px;
  }
  
.nutrition button {
    margin: 10px;
    padding: 8px 16px;
    font-size: 19px;
    cursor: pointer;  
    background-color: #0a281efe; 
    box-shadow: 0 .300rem .80rem rgba(0, 0, 0, 0.767); 
    color: #def1e6;
    border: none; 
    border-radius: 7px; 
}
  
.nutrition button:hover {
    cursor: pointer; 
    transform: scale(1.1); 
    background-color: #2D6A4F; 
    box-shadow: 0 .300rem .80rem rgba(0, 0, 0, 0.577); 
    color: #eafdf2; 
}
  
.nutrition ul {
    list-style: none;
    padding: 0;
  }
  
.nutrition li {
    margin: 10px 0;
    font-size: 18px;
  }
